<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
    
    
    <ion-button (click)="dismissModal()" size="small" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img src="{{item?.vehicle_thumbnail_url}}" width="100%">

  <h1>{{ item?.brand_name | uppercase }} {{item?.vehicle_model | uppercase}}</h1>
  <p>Deseo recibir información sobre la siguiente unidad.</p>

  <form [formGroup]="todo" (ngSubmit)="logForm()">


    <ion-item>
      <ion-input label="Nombre y Apellido" label-placement="floating" fill="outline" type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Teléfono" label-placement="floating" fill="outline" type="text" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Localidad" label-placement="floating" fill="outline" type="text" formControlName="localidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" label-placement="floating" fill="outline" type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Mensaje" label-placement="floating" fill="outline" type="text" formControlName="mensaje"></ion-textarea>
    </ion-item>

    <br>
    
    <ion-button expand="block" (click)="logForm()" fill="solid" size="large" [disabled]="!todo.valid">Enviar</ion-button>

  </form>
</ion-content>