page-filter{
    ion-content{
        .scroll-content{
            background-color: #222 !important;

            ion-list{
                background-color: transparent;
                border: 0px !important;

                ion-item{
                    background-color: transparent;
                    border-top: 0px !important;
                    border-bottom: 1px solid #444 !important;
                    padding: 10px;
                    font-size: 1.3em;
                    color: #FFFFFF;

                    .item-inner{
                        border: 0px !important;
                    }

                    ion-label{
                        ion-icon{
                            margin-right: 20px;
                            color: #666;
                            font-size: 1.3em;
                        }
                    }
                }
            
            }

        }
    }
}
