<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons> 
    <ion-title>Repuestos</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="img-header" src="../../assets/imgs/bg_repuestos.png" alt="">

  <h1>Solicite Presupuesto</h1>
  <p>Contamos con toda la linea de repuestos Volvo y Renault Trucks. Dejanos tu consulta.</p>

  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label stacked>Nombre y Apellido</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Teléfono</ion-label>
      <ion-input type="text" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Localidad</ion-label>
      <ion-input type="text" formControlName="localidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Chasis</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Repuestos (Numero de piezas o descripción de los mismos)</ion-label>
      <ion-input type="text" formControlName="mensaje"></ion-input>
    </ion-item>

    <br>
    
    <ion-button expand="block" (click)="logForm()" fill="solid" size="large" [disabled]="!todo.valid">Solicitar</ion-button>

  </form>
</ion-content>