<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons> 
    <ion-title>WhatsApp</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="img-header" src="../../assets/imgs/bg_repuestos.png" alt="">

  <h1>Contacto</h1>
  <p>Escribino tu consulta por WhatsApp.</p>

  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-input label="Nombre y Apellido" label-placement="floating" fill="outline" type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Teléfono" label-placement="floating" fill="outline" type="text" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Localidad" label-placement="floating" fill="outline" type="text" formControlName="localidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" label-placement="floating" fill="outline" type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Mensaje" label-placement="floating" fill="outline" type="text" formControlName="mensaje"></ion-textarea>
    </ion-item>
    <br>
    
    <ion-button expand="block" (click)="logForm()" fill="solid" size="large" [disabled]="!todo.valid">Enviar</ion-button>

  </form>
</ion-content>