<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>   
    <ion-title> Mantenimiento </ion-title> 
  </ion-toolbar> 
</ion-header>

<ion-content class="ion-padding">
  <img class="img-header" src="../../assets/imgs/bg_mantenimiento.png" alt="">

  <h1>Solicitar Mantenimiento</h1>
  <p>Podras solicitar un turno para el mantenimineto de tu unidad.</p>

  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-input label="Nombre y Apellido" label-placement="floating" fill="outline" type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Teléfono" label-placement="floating" fill="outline" type="text" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Localidad" label-placement="floating" fill="outline" type="text" formControlName="localidad"></ion-input>
    </ion-item>

    <ion-item> 
      <ion-input label="Email" label-placement="floating" fill="outline" type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>   
      <ion-select label="Agencia" justify="space-between" label-placement="floating" fill="outline" formControlName="agencia" >
        <ion-select-option *ngFor="let agencia of agencias" value="{{agencia.company_name}}">{{agencia.company_name + ' (' + agencia.company_address + ')'}}</ion-select-option>
      </ion-select>
    </ion-item> 
 
    <ion-item>
      <ion-input label="Vehiculo" label-placement="floating" fill="outline" type="text" formControlName="vehiculo"></ion-input>
    </ion-item> 
 
    <ion-item>
      <ion-input label="Nro de chasis" label-placement="floating" fill="outline" type="text" formControlName="chasis"></ion-input>
    </ion-item>

    <ion-item>
      <ion-datetime class="datetime" displayFormat="MM/DD/YYYY HH" formControlName="fecha_asistencia">
        <span slot="title">Fecha estimada</span>
      </ion-datetime>
    </ion-item> 

    <ion-item>
      <ion-input label="Tipo de mantenimiento" label-placement="floating" fill="outline" type="text" formControlName="tipo_mantenimiento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Mensaje" label-placement="floating" fill="outline" type="text" formControlName="mensaje"></ion-textarea>
    </ion-item>
    <br>
    
    <ion-button expand="block" (click)="logForm()" fill="outline" size="large" [disabled]="!todo.valid">Solicitar</ion-button>

    <br><br><br><br><br>
  </form>
</ion-content>